 body{
   background-color:#13142d;
 }

  .c-contain{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;;
    }

  .c-centered{
    width:50%;
    margin: 0 auto;
    text-align: center;
    display: block;
  }

  .c-centered p{
    color: #c0a05d;
    font-family: CantataOne-Regular;
    font-size: 1em;
    margin-top: 2%;
}

    .c-centered h1 {
      font-family: georgia;
      color: #fff;
      font-size: 2.5em;
      font-weight: bolder;
      margin-top: 5%;
  }

/* BUTTON */
  .c-centered button{
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    border: 1px solid #c0a05d;
    color: #fff;
    background: transparent;
    text-align: right !important;
    padding: 15px 70px;
    transition: .3s ease-in;
    margin-bottom: 5%;
  }

  .c-centered button:hover{
    background-color: #c0a05d;
    border: none;
    cursor: pointer;
  }


/* input starts here */
input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
  font-size: 1em;
  color: #c0a05d;
  top: -2.25rem;
  -webkit-transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
  transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.styled-input {
  float: none;
  width: 75.3333%;
  margin: 2rem 0 1rem;
  position: relative;
  margin: 5% auto;
}

.styled-input label {
  color: #999;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
  transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
  pointer-events: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.styled-input.wide {
  width: 100%;
}

input,
textarea {
  padding: 1rem 1rem;
  border: 0;
  width: 100%;
  font-size: 1rem;
  border-bottom: 1px solid #c0a05d !Important;
  background-color: transparent;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #fff;
  left: 0;
  border-left: none;
  right: 0;
}

input ~ span,
textarea ~ span {
  display: block;
  width: 0;
  height: 3px;
  background: #c0a05d;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
  transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

input:focus,
textarea:focus {
  outline: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

input:focus ~ span,
textarea:focus ~ span {
  width: 106%;
  -webkit-transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
  transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
}

textarea {
  width: 100%;
  min-height: 15em;
}

@media only screen and (max-width: 500px) {
  /*FORM CADASTRO*/
  .c-centered h1 {
    font-family: georgia;
    color: #fff;
    font-size: 28px;
    font-weight: bolder;
    margin-top: 15%;
  }
  .c-centered {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: block;
  }
  .styled-input {
    float: none;
    width: 75.3333%;
    margin: 2rem 0 1rem;
    position: relative;
    margin: 10% auto;
  }
}